.the-home {
    margin: 40px auto;
    width: 70%;
    /* border: 1px solid black; */
}

.home-image {
    float: right;
    margin-left: 40px;
    width: 25%;

    border: 3px solid #006B8F;
    border-radius: 30px;
}

.home-article {
    margin-top: 30px;
}
