.the-header{
    position: relative;
    text-align: center;
}

.button {
    position: absolute;
    right: 10px;
    top: 10px;

    padding: 3px 12px;
    width: 50px;

    border: 3px solid #006b8f;
    border-radius: 30px;

    color: #006b8f;
    /* background-color: #282c34; */
}


.button:hover {
    border: 3px solid #00A7E1;
    cursor: pointer;
    color:  #00A7E1;
}

