.the-navigation {
    text-align: center;

    border: 3px solid #006B8F;
    border-radius: 30px;

    width: max-content;
    margin: 0px auto;
    margin-bottom: 20px;
}

.navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-item {
    float: left;
}

.link {
    color: #006B8F;
    text-decoration: none;
    text-align: center;

    padding: 16px;
    display: block;
}

.link:hover {
    text-decoration: none;
    color: #00A7E1;
}

/*---------DROPDOWN MENU-----------*/

.dropdown-item {
    float: left;
    overflow: hidden;
}

.dropdown-item .dropdown-link {
    font-family: inherit;
    margin: 0;
}

.dropdown-link {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*---------DROPDOWN CONTENT-----------*/
.dropdown-content {
    display: none;
    position: absolute;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #F4FAFF;
}

.dropdown-item:hover .dropdown-content {
    display: block;
}

